<h1>Nueva lista</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :movie_id, as: :select, collection: Movie.all.order(:title) %>
  <%= f.input :comment %>
  <%= f.submit class:"btn btn-primary" %>
<% end %>
